#icons {
    margin: 30px;
    display: flex;
}

#icons img {
    width: 50px;
    margin: 30px;
}

#about h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-family:'Noto Sans Georgian', sans-serif;
}

#about p {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
}

#about h3 {
    font-family:'Noto Sans Georgian', sans-serif;
    text-align: center;
    
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#right-side {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}