html {
    scroll-behavior: smooth;
}

body {
    height: 2000px;
    margin: 0;
    background-color: #ededed;
    // overflow: hidden;
}

#content {
    margin-left: 0;
    scroll-behavior: smooth;
    // overflow-y: auto;
}

// #sidenav {
//     overflow-y: auto;
// }

